
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

.parcel-cache
node_modules
bower_components
dist

*.sublime*
dist
psd
thum
thumb
sketch
dist
.firebaserc
.firebase
D:\Courses\Namaste React\Revision\1\src\constants\api.js